html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: normal 16px/1.5 "Open Sans Condensed", sans-serif;

}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
ul, li{
    text-decoration: none;
    list-style-type: none;
}

